<div class="bg-body-tertiary p-5 rounded mt-3">
    <h1>Editar</h1>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input name="nome" type="nome" class="form-control" id="nome" aria-describedby="nomeHelp"
                        placeholder="Digite seu nome">

                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Email </label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Digite seu email">
                    <div id="email" class="form-text">Nós não compartilhamos seu email com ninguém.</div>
                </div>

                <div class="mb-3">
                    <button class="w-100 btn btn-warning">Salvar Alterações</button>
                </div>
            </div>

        </div>

    </form>
</div>